<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    <li><a href="/">Home</a></li>
    
    {% comment %} Manual breadcrumb segments {% endcomment %}
    {% if page.url contains 'actueel' %}
      <li><a href="/actueel/">Actueel</a></li>
    {% endif %}
    {% if page.url contains 'blogs' %}
      <li><a href="/blogs/">Weird Science</a></li>
    {% endif %}
    {% if page.url contains 'contact' %}
      <li><a href="/contact/">Contact</a></li>
    {% endif %}
    {% if page.url contains 'gesprekken' %}
      <li><a href="/gesprekken/">Gesprekken</a></li>
    {% endif %}
    {% if page.url contains 'interessant' %}
      <li><a href="/interessant/">Uitgelicht</a></li>
    {% endif %}
    {% if page.url contains 'koffie' %}
      <li><a href="/projecten/">Koffie</a></li>
    {% endif %}
    {% if page.url contains 'mij' %}
      <li><a href="/mij/">Over mij</a></li>
    {% endif %}
    {% if page.url contains 'projecten' %}
      <li><a href="/projecten/">Projecten</a></li>
    {% endif %}
    {% if page.url contains 'random' %}
      <li><a href="/random/">Random</a></li>
    {% endif %}
    
    {% unless page.url == '/' or page.url contains '/index.html' %}
      <li>{{ page.title }}</li>
    {% endunless %}
  </ol>
</nav>