<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    {% assign url_parts = page.url | split: '/' %}
    {% assign crumbs = "" | split: "" %}
    
    <!-- Build clean crumbs array -->
    {% for part in url_parts %}
      {% unless part == "" or part == "pages_sub" or part == "index.html" %}
        {% assign crumbs = crumbs | push: part %}
      {% endunless %}
    {% endfor %}
    
    <li><a href="/">Home</a></li>
    
    {% for crumb in crumbs %}
      <li>
        {% if forloop.last %}
          {{ page.title }}
        {% else %}
          {% assign crumb_path = crumbs | slice: 0, forloop.index | join: '/' %}
          <a href="/{{ crumb_path }}/">
            {% case crumb %}
              {% when 'projecten' %}Projecten
              {% when 'koffie' %}Koffie?
              {% when 'interessant' %}Uitgelicht
              {% when 'bogs' %}Weird Science
              {% when 'gesprekken' %}Gesprekken
              {% when 'random' %}Random
              {% when 'actueel' %}Actueel
              {% when 'contact' %}Contact
              {% else %}{{ crumb | replace: '-', ' ' | capitalize }}
            {% endcase %}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>