<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- Set theme color for Android browser UI (top & bottom bar) -->
<meta name="theme-color" content="#7ebe17">

<!-- Let the browser know your site supports light/dark themes -->
<meta name="color-scheme" content="light dark">

<!-- For iOS (top status bar style only, no bottom bar control) -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
