<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <title>Project Y — 
    {% if page.url contains '/mij/' %}
      {{ site.data.mij.page_title }}
    {% elsif page.url contains '/projecten/' %}
      {{ site.data.projecten.page_title }}
    {% elsif page.url contains '/koffie/' %}
      {{ site.data.koffie.page_title }}
    {% elsif page.url contains '/actueel/' %}
      {{ site.data.actueel.page_title }}
    {% elsif page.url contains '/blogs/' %}
      {{ site.data.blogs.page_title }}
    {% elsif page.url contains '/gesprekken/' %}
      {{ site.data.gesprekken.page_title }}
    {% elsif page.url contains '/random/' %}
      {{ site.data.random.page_title }}
    {% elsif page.url contains '/interessant/' %}
      {{ site.data.interessant.page_title }}
    {% elsif page.url contains '/contact/' %}
      {{ site.data.contact.page_title }}
    {% else %}
      {{ page.title | default: site.title }} 
    {% endif %}
  </title>
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

<link rel="stylesheet" href="/assets/css/main-v2.css">
<link rel="stylesheet" href="/assets/css/intro.css">


</head>

<!--<link rel="stylesheet" href="{{ '/assets/css/main-v2.css' | relative_url }}?v={{ site.version }}">-->



{% if page.url == "/" %}
  <style>
    #menubottom { display: none; } /* More thorough than visibility: hidden */
  </style>
{% endif %}

<!-- Set theme color for Android browser UI (top & bottom bar) -->

<!-- Let the browser know your site supports light/dark themes -->
<meta name="color-scheme" content="light dark">

<!-- For iOS (top status bar style only, no bottom bar control) -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="rgb(126, 190, 23)">
<meta name="theme-color" content="#7ebe17">

