<header>
  <div class="header-inner">
    <img src="{{ '/assets/images/global/endless.svg' | relative_url }}" alt="Endless logo" id="endless">

    <!-- ICON WITH POSSIBLE DATE OVERLAY -->
    <div class="icon-container">
      {% if page.url == "/" %}
        <img src="{{ '/assets/images/home_icon.svg' | relative_url }}"
             alt="Home"
             class="icon">
      {% else %}
        {% assign section = page.url | remove_first: '/' | split: '/' | first %}
        <img src="{{ '/assets/images/' | append: section | append: '_icon.svg' | relative_url }}"
             alt="{{ section | capitalize }}"
             class="icon">
      {% endif %}

      {% if page.url contains '/actueel/' %}
        <div class="date-overlay">
          <div id="month"></div>
          <div id="date"></div>
        </div>
      {% endif %}
    </div>
  </div>
</header>