<div class="menubottom_under">
  <div class="menubottom_under-inner"></div>
</div>


<div id="menubottom">
<div class="menubottom_inner">
  <div class="menubottom_inner_scroll">



    <div><a href="{{ '/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/home.svg' | relative_url }}" alt="home" class="mini" style="width: 46px;">
    </a></div>

    <div><a href="{{ '/mij/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/mij.svg' | relative_url }}" alt="mij" class="mini">
    </a></div>

    <div><a href="{{ '/projecten/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/projecten.svg' | relative_url }}" alt="projecten" class="mini">
    </a></div>

    <!--<div><a href="{{ '/ -science/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/weird-science.svg' | relative_url }}" alt="weird-science" class="mini">
    </a></div>-->

    <div><a href="{{ '/uitgelicht/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/uitgelicht.svg' | relative_url }}" alt="uitgelicht" class="mini">
    </a></div>

    <!--<div><a href="{{ '/gesprekken/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/gesprekken.svg' | relative_url }}" alt="gesprekken" class="mini">
    </a></div>-->

    <div><a href="{{ '/contact/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/contact.svg' | relative_url }}" alt="contact" class="mini">
    </a></div>

<div style="position: relative; display: flex;">
  <a href="{{ '/actueel/index.html' | relative_url }}">
    <img src="{{ '/assets/images/menu_mini/actueel.svg' | relative_url }}" alt="actueel" class="mini">
    <div id="date_s"></div>
</a>
</div>     

    <div><a href="{{ '/random/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/random.svg' | relative_url }}" alt="snail" class="mini">
    </a></div>

    <div><a href="{{ '/koffie/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/koffie.svg' | relative_url }}" alt="koffie" class="mini">
    </a></div>


  <!--<div id="menu_mini_scroll"><div id="scroll"><img src="/assets/images/menu_mini/scroll_left.svg" alt=""></div></div>-->


  </div>

</div>
</div>

