<div id="menubottom">
    <div class="menubottom_inner">
        <div><img src="/assets/images/menu_mini/home.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/mij.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/projecten.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/actueel.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/artikelen.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/interviews.svg" alt=""></div>
        <div><img src="/assets/images/menu_mini/contact.svg" alt=""></div>
    </div>
</div>