<div class="menubottom_under">
  <div class="menubottom_under-inner"></div>
</div>


<div id="menubottom">
<div class="menubottom_inner">
  <div class="menubottom_inner_scroll">



    <div><a href="{{ '/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/home.svg' | relative_url }}" alt="home" class="mini" style="width: 52px;">
    </a></div>

    <div><a href="{{ '/mij/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/mij.svg' | relative_url }}" alt="mij" class="mini">
    </a></div>

    <div><a href="{{ '/projecten/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/projecten.svg' | relative_url }}" alt="projecten" class="mini" style="width: 44px">
    </a></div>

    <div><a href="{{ '/actueel/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/actueel.svg' | relative_url }}" alt="actueel" class="mini" style="width: 46px">
    </a></div>

    <div><a href="{{ '/interessant/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/interessant.svg' | relative_url }}" alt="interessant" class="mini">
    </a></div>

    <div><a href="{{ '/interviews/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/interviews.svg' | relative_url }}" alt="interviews" class="mini">
    </a></div>

    <div><a href="{{ '/koffie/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/koffie.svg' | relative_url }}" alt="koffie" class="mini" style="margin-bottom: 0px;">
    </a></div>

    <div><a href="{{ '/contact/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/contact.svg' | relative_url }}" alt="contact" class="mini" style="width: 46px;">
    </a></div>

    <div><a href="{{ '/experimenten/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/experimenten.svg' | relative_url }}" alt="experimenten" class="mini">
    </a></div>

    <div><a href="{{ '/random/index.html' | relative_url }}">
      <img src="{{ '/assets/images/menu_mini/random.svg' | relative_url }}" alt="dobbelsteen" class="mini" style="width: 36px;">
    </a></div>
  </div>

</div>
</div>

  <div id="menu_mini_scroll"><div id="scroll"><img src="/assets/images/menu_mini/scroll_left.svg" alt=""></div></div>
