<div class="top">
<!-- DEBUG: {{ page.url }}  Add this above breadcrumbs to verify segments -->

{% include breadcrumbs_simple.html %}

<h1>
  {% if include.title %}{{ include.title }}
  {% else %}{{ page.page_title | default: page.title }}
  {% endif %}
</h1>


{% if include.intro and include.intro != "" %}
    {% assign intro_id = include.intro | strip_html | truncate: 20, "" | slugify %}
    <div class="intro" id="intro-{{ intro_id }}">
      <div class="intro_close" aria-label="Close">
        <img src="/assets/images/global/intro_close.svg" alt=""  width="16" height="16">
      </div>
      <div class="praat"><img src="/assets/images/global/praat.svg" alt=""></div>
      {{ include.intro | markdownify }}
    </div>
    
    <script>
      (function() {
        const introKey = 'introClosed-{{ intro_id }}';
        const introEl = document.getElementById('intro-{{ intro_id }}');
        
        if (introEl && !sessionStorage.getItem(introKey)) {
          introEl.style.display = 'block';
          introEl.querySelector('.intro_close').addEventListener('click', () => {
            introEl.style.display = 'none';
            sessionStorage.setItem(introKey, 'true');
          });
        }
      })();
    </script>

<script>
  console.log('Intro element exists?', !!document.getElementById('intro-{{ intro_id }}'));
</script>



  {% endif %}
</div>
