---
layout: none  # This prevents inheritance from default.html
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

<div class="grid-container">
  <!-- Row 1 -->
  <div class="grid-row">
    <div class="grid-cell"></div>
    <div class="grid-cell">
      <div class="big-cat"><img src="/assets/images/cat01.svg" alt="cat 1"></div>
    </div>
    <div class="grid-cell"></div>
  </div>

  <!-- Row 2: 3 images -->
  <div class="grid-row">
    <div class="grid-cell">
      <div class="big-cat"><img src="/assets/images/cat02.svg" alt="cat 1"></div>
    </div>
    <div class="grid-cell">
      <div class="big-cat"><img src="/assets/images/cat03.svg" alt="cat 1"></div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="grid-row">
    <div class="grid-cell"></div>
    <div class="grid-cell">
      <div class="big-cat"><img src="/assets/images/cat04.svg" alt="cat 1"></div>
    </div>
    <div class="grid-cell"></div>
  </div>
</div>


</body>
</html>