#month {
  position: absolute;
  margin-top: 0.9em;
  color: white;
  font-size: 0.6;
  font-weight: 500;
  text-align: center;
}

#date {
  position: absolute;
  margin-top: 1.3em;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
}

#date_s {
  position: absolute;
  width: 21px;
  font-size: 0.9em;
  font-weight: 700;
  top: 19px;
  left: 23px;
  text-align: center;
}

.date-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-left: 36px;
  margin-top: -85px;
  pointer-events: none; /* Allows clicking the icon underneath */
  z-index: 99999999999999999;
  background-color: aquamarine;
}

.date-overlay { 
  text-shadow: 0 0 5px white; /* Soft glow for readability */ 
  transition: transform 0.3s; 
} 