@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url('/assets/indexroot.css');
@import url('/assets/recurring.css');

.save {
    border-radius: 10px;
    opacity: 0.5;
    background-image: url('/images/balk.png');
    background-repeat: repeat-x;
    background-size: 70px;
    background-position: top;
}
* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fdfdfd;
    color: #303030;
}
#balk {
    background-image: url('/images/balk.svg');
    background-repeat: repeat-x;
    background-size: 70px;
    background-position: top;
    position: fixed;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #282d3d;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}
p {
    margin: 12px 0px 0px 0px;
}
.intro {
    font-weight: 500;
}
h1 {
    margin-top: 0px;
}
h2 {
 margin: 12px 0px 0px 0px;
 font-size: 20px;
}
h4 {
 margin: 0px 0px 0px 0px;
 font-size: 17px;
 color: rgb(226, 3, 40);
}
a,
a:visited,
a:active,
a:focus {
  color: inherit;         /* or set to your desired color */
  text-decoration: none;  /* optional: removes underline */
}
a img {
    -webkit-tap-highlight-color: transparent; /* disables the blue highlight on iOS Safari */
    outline: none;                            /* removes focus outline */
  }
  a:focus {
    outline: none;                            /* also removes outline for keyboard navigation (use with caution!) */
  }
main {
    flex: 1; /* Take up the available space */
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.container {
    display: flex;
    max-width: 500px;
    margin: 0px 30px 80px 35px;
}
