@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url('recurring.css');
@import url('content.css');
@import url('colors.css');

.save {
    border-radius: 10px;
    opacity: 0.5;
}
* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
body {
    flex-direction: column;
    background-image: url('../images/balk.png');
    background-repeat: repeat-x;
    background-size: 70px;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fdfdfd;
    color: #333;
}
main {
    flex: 1; /* Take up the available space */
    display: flex;
    flex-direction: column;
}
h1 {
       margin-top: -5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2px;
    max-width: 600px;
    margin: 15px auto; /* Center the grid horizontally */
    padding: 0;
    height: calc(90vh - 100px); /* Adjust as per header/footer height */
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content:flex-end; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    padding: 0px 20px;
    transition: transform 0.3s ease-in-out; /* Simple hover effect */
    height: 130px; /* Allow the grid item to stretch and center vertically */
}
.grid-item:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}
.grid-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 0px;
}
.link-label {
    display: block;
    height: 28px;
    margin-top: 4px;
    font-size: 0.9em;
    color: #4b5172;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
}
.span-all {
    grid-column: span 3; /* This makes the div span across all 3 columns */
    font-size: 0.95em;
    text-align: center;
    padding: 0px 40px;
    margin-top: 10px;
    color: #4b5172;
}

