    header {
    position: fixed;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    display: flex;  
    flex-direction: column;    
    padding-right: 0px;
    z-index: 2;
    }   
    img {
        pointer-events: auto !important;
      }
    .header-part1 {
        height: 30px;
        margin-left: 30px;
    }
    .header-part2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 0;
        margin-top: -8px;
    }
    .playground {
        max-width: 300px;
    }
    .playground img {
        height: 70px;
        max-width: 300px;
    }
    .arrow {
        position: fixed;
        top: -6px;
        left: 0px;
        z-index: 10;
    }
    .arrow img {
        transform: rotate(-90deg);
    }
    #category-contain {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    display: flex;  
    top: 70px;
    z-index: 20;
    }
    .category {
        font-family: "Roboto Condensed", sans-serif;

        padding: 0px 15px 6px 15px;
        margin-left: 35px;
        background-color: rgb(141, 209, 223);
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .picto {
        position: fixed;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 500px;
        display: flex;  
        justify-content: flex-end;
        z-index: 2;
        background-color: aqua;
        height: 0px;
        overflow: visible;
    }
    .picto img {
        width: 100px;
        height: 100px;
    }
    
    #arrow-up {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 2px;
        padding: 0px 0px 4px 0px;
        bottom: 20px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: rgb(212, 255, 29); /* RGB + Alpha (0–1) */
        font-size: 20px;
        color: #ff0080;
    }
    #arrow-up img {
        height: 24px;
        width: 22px;
    }
    footer {
        text-align: center;
        font-size: 0.9em;
        background-color: rgb(15, 141, 224);
        color: white;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 4px;
        width: 100%;
        margin: 0 auto;
    }
    