    header {
    width: 100vw;
    max-width: 550px;  
    height: 60px;
    display: flex;  
    flex-direction: column;    
    padding-right: 0px;
    }
    .header-part1 {
        height: 30px;
        margin-left: 30px;
    }
    .header-part2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 0;
    }
    .playground {
        width: 100%;
        max-width: 282px;
    }
    .playground img {
        height: 56px;
        width: 100%;
        max-width: 282px;
    }
    .arrow {
        top: 40px;
        left: 4px;
        height: 0px;
    }
    .arrow img {
        transform: rotate(-90deg);
        margin: 24px 1px;
    }
    #arrow-up {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -20px;
        padding: 0px 12px 4px 0px;
        bottom: 40px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: rgba(109, 179, 245, 0.5); /* RGB + Alpha (0–1) */
        font-weight: 900;
        font-size: 12px;
        color: #202752;
    }
    #arrow-up img {
        height: 24px;
        width: 22px;
    }
    footer {
        text-align: center;
        font-size: 0.9em;
        background-color: #f82c2c;
        color: white;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 4px;
        width: 100%;
        margin: 0 auto;
    }
